.*
!/.gitignore
/.bundle
/Gemfile.lock
/vendor/bundle
/db/*.sqlite3
/tmp/*
!/tmp/.gitkeep
/coverage
/test
/log
/app/assets/javascripts/config.js

/files
/public/_
/public/emark.jp/dashboard/index.*
/public/emark.jp/octopress/index.*
