.*
!/.gitignore
/.bundle
/Gemfile.lock
/vendor/bundle
/db/*.sqlite3
/tmp/*
!/tmp/.gitkeep
/coverage
/test
/scripts
/app/assets/javascripts/config.js

/files
/public/_
/public/emark.jp/octopress/index.html
/public/emark.jp/octopress/index.js
/public/emark.jp/octopress/index.min.js

/public/emark.jp/dashboard/index.html
/public/emark.jp/dashboard/index.js
/public/emark.jp/dashboard/index.min.js