<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://www.cdn-cache.com/20120506/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="http://www.cdn-cache.com/20120506/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <style>
      .modal {
        display:none;
      }
      .modal form {
        margin: 0px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="${site_href}">Emark</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="${site_href}#howtouse">使い方</a></li>
              <!-- <li><a href="#contact">お問い合わせ</a></li> -->
            </ul>
            <ul class="nav pull-right">
              <li><a href="/logout">ログアウト</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="app"></div>

    <script src="/js/application.js"></script>
    <script src="http://www.cdn-cache.com/20120506/bootstrap/js/bootstrap.min.js"></script>
    <script>Emark.app = new App()</script>
  </body>
</html>
