!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Emark - メモがブログになる
    %meta{name: "viewport",    content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: ""}
    %meta{name: "author",      content: ""}
    %link{href: "/bootstrap/2.0.3/css/bootstrap.min.css",            rel: "stylesheet"}
    %link{href: "/bootstrap/2.0.3/css/bootstrap-responsive.min.css", rel: "stylesheet"}
    %link{href: "/dashboard/index.css",                              rel: "stylesheet"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: config.site_href} EMARK
          .nav-collapse
            %ul.nav
              %li
                %a{href: "/howtouse"} 使い方
              %li
                %a{href: "/faq"} FAQ
            %ul.nav.pull-right
              %li
                %a{href: "/logout"} ログアウト
    - if "production" == config.environment
      %script{src: "/dashboard/index.min.js"}
    - else
      %script{src: "/dashboard/index.js"}
